#hint{
	cursor: pointer;
    float: right;
    /*margin: 190px 0 0 498px;*/
    position: absolute;
}
.tooltip{
	margin:8px;
	padding:8px;
	border:1px solid #3D5454;
	background-color:#F7F7F7;
	position: absolute;
	z-index: 2;
	border-radius: 4px;
	box-shadow: 5px 5px 8px #CCC;
}
.note-span{
	color:#F33;
}