/*#applicant-dashboard-form .form-text {
	width:300px !important;
	
}
#applicant-dashboard-form .form-textarea-wrapper textarea {
	width:300px !important;
	
}
#applicant-dashboard-form .form-select {
	width:300px !important;
	
}

#applicant-dashboard-form .form-item, .form-actions {
    float: left;
    margin: 0 0 30px 45px !important;
    width: 300px !important;
} 
#applicant-dashboard-form #edit-submit {
       margin-left: -90px !important;
} 
#edit-card-number {
    margin-left: 25px !important;
} 



#get-clra-registration-info-form .form-text {
	width:300px !important;
	
}
#get-clra-registration-info-form .form-textarea-wrapper textarea {
	width:300px !important;
	
}
#get-clra-registration-info-form .form-select {
	width:300px !important;
	
}

#get-clra-registration-info-form .form-item, .form-actions {
    float: left;
    margin: 0 0 30px 45px !important;
    width: 300px !important;
} 

#get-clra-registration-info-form #edit-submit {
	margin-left: 45px;
	
}

#get-clra-contractor-info-form .form-text {
	width:300px !important;
	
}
#get-clra-contractor-info-form .form-textarea-wrapper textarea {
	width:300px !important;
	
}
#get-clra-contractor-info-form .form-select {
	width:300px !important;
	
}

#get-clra-contractor-info-form #edit-submit {
	margin-left: 45px;
	
}


#get-clra-contractor-info-form .form-item, .form-actions {
    float: left;
    margin: 0 0 30px 45px !important;
    width: 300px !important;
} 






*/